<h2>Edit Contact {{first_name}} {{last_name}}</h2>
<form class="edit_contact" action="/edit_contact" method="post">
  <div class="form-group">

  <label for="first_name">first name:</label>
  <input type="text" name="first_name" value="{{first_name}}">
</div>
<div class="form-group">

  <label for="last_name">last name:</label>
  <input type="text" name="last_name" value="{{last_name}}">
</div>
<div class="form-group">

  <label for="address">address:</label>
  <input type="text" name="address" value="{{address}}">
</div>
<div class="form-group">

  <label for="phone_number">phone number:</label>
  <input type="text" name="phone_number" value="{{phone_number}}">
</div>
<div style="display:none;">
  <input type="text" name="id" value="{{id}}"
  </input>
</div>
  <button type="submit" name="button">Edit Contact</button>
</form>
<form class="delete_contact" action="/delete_contact" method="post">
<div style="display:none;">
  <input type="text" name="id" value="{{id}}"
  </input>
</div>
  <button type="submit" name="button">Delete Contact</button>
<div>
